<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENDA</title>
</head>
<body>
    <style>
    body{
        background-color:  rgb(131, 191, 239);
        -webkit-user-modify: read-write-plaintext-only;
    }

    .logo{
        width: 200px;
        height: 150px;
}
    h5{
        font-size: larger;
    }

    </style>
    <form action="#" method="GET" enctype="multipart/form-data">
        <img class="logo" src="../static/logo.PNG" alt="">
       <center><h5>GALERIA</h5>
        <div style="margin-top: 5px;">
            <label for="avatar"><strong>coloque imagen</strong></label>
            <input type="file" name="avatar" id="avatar">
         
        </div></center>
    </form>
    
    
</body>
</html>