<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTAS</title>

</head>
<style>
    body{
        background: rgb(131, 191, 239);
    }
</style>
<body>
    <h2>Audios</h2>

    <audio controls autoplay loop >
        <source src="C:\Users\MINEDUCYT\Documents\modulo\PROYECTO FINAL\static\audio.mp3" type="audio/mp3">
    </audio>
    
</body>
</html>