<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENDA</title>
</head>
<body>
    <body>
    <style>
        body{
            background: rgb(131, 191, 239);
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;            
        }
        input{
            font-family: cursive;
        }
    </style>
    <form action="iniciosecion" methods="POST">
        <div>
           <center><img src="../static/usuario.png" alt="">
            <h1>USUARIO</h1>
            Nombre de usuario:<input type="text" name = "usuario"  placeholder="ingrese nombre completo" required><p>
                <button class = "botones"><a class="notas" href="../templates/inicio.html">ir a inicio</a></button>
            </center> 

        </div>
    </form>
    
</body>
</html>